header {
    height: 90vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    padding-bottom: 2rem;
}

.audio__toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 0.5em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: var(--transition);
}

.audio__toggle:hover {
    background-color: var(--color-primary);
    color: var(--color-bg-black);
}

/*-------------------cta--------------*/

.cta {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/*-------------------socials--------------*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after, .header__socials::before {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*-------------------scroll--------------*/

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    transition: var(--transition);
    font-weight: 300;
    font-size: 0.9rem;
}

.scroll__down:hover {
    transform: rotate(270deg);
}

/* --------------------media queries tab-----------------*/
@media screen and (max-width: 1024px) {
    header {
        height: 70vh;
    }
}

/* --------------------media queries mobile-----------------*/
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials, .scroll__down{
        display: none;
    }
}